*.pdf
*~
*.bak
*.mat
img/
docs/
/.project
kernelBP/
kernelBP_chol/
kernelBP_loopy/
*.#
*.lyx
*.bib
kernel_ep_share/
meetings/
KernelEP/
code/3rdparty/batch_job
code/3rdparty/ITE
code/3rdparty/Infer.NET 2.5
code/3rdparty/kernelBP
code/3rdparty/kernelBP_chol
code/3rdparty/kernelBP_loopy
code/3rdparty/qsub
code/3rdparty/slurm
*.mbak